<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="ele">
        <input type="radio" value="man" v-model="sex">
        <label for="man">man</label>
        <input type="radio" value="woman" v-model="sex">
        <label for="woman">woman</label><br>
        <span>{{sex}}</span>
    </div>
    <script>
        new Vue({
            el:"#ele",
            data:{
                sex:''
            }
        })
    </script>
</body>
</html>